export GH_TOKEN="{{ user_secrets.gh_token }}"
export GITHUB_TOKEN="${GH_TOKEN}"
export TAILSCALE_OAUTH_CLIENT_ID="{{ tailscale_client_id }}"
export TAILSCALE_OAUTH_CLIENT_SECRET="{{ tailscale_authkey }}"
