export GH_TOKEN="{{ github_token }}"
export GITHUB_TOKEN="${GH_TOKEN}"
export TAILSCALE_OAUTH_CLIENT_ID="{{ tailscale_oauth_client_id }}"
export TAILSCALE_OAUTH_CLIENT_SECRET="{{ tailscale_oauth_client_secret }}"
